<%- include header.ejs %>

<style media="screen">
  .post_wrapper{
    background: #f8f8f8;
    margin: 30px 10px;
  }
</style>
<div class="container">
    <h1>Posts</h1>

    <% if(posts.length > 0){ posts.forEach(function(el, index) { %>
    <div class="row post_wrapper">
        <div class="col-md-12">
          <a href="/posts/post-details?id=<%= el.PostID %>"><h3><%= el.Title %></h3></a>
          <p><%= el.Description %></p>
          <span class="label label-info"><%= el.CommentsCount %> Comments</span>
          <span class="label label-info"><%= el.LikesCount %> Likes</span>
          <% if(el.MyLikeStatus){ %>
          <span class="label label-default">You Liked</span>
          <% } else { %>
          <a href="javascript:void(0);" data-id="<%= el.PostID %>" class="label label-success like_post">Like</a>
          <% } %>
        </div>
    </div>
    <% }); } %>


</div>

<%- include footer.ejs %>
