<%- include header.ejs %>

<style media="screen">
  .post_wrapper{
    background: #f8f8f8;
    margin: 30px 10px;
  }
</style>
<div class="container">
    <h1>Posts</h1>

    <% if(posts.length > 0){ posts.forEach(function(el, index) { %>
    <div class="row post_wrapper">
        <div class="col-md-12">
          <a href="/posts/post-details?id=<%= el._id %>"><h3><%= el.title %></h3></a>
          <p><%= el.description %></p>
          <span class="label label-default"><%= el.username %></span>
          <span class="label label-info"><%= el.comments_count %> Comments</span>
          <span class="label label-info"><%= el.likes_count %> Likes</span>
          <% if(el.my_like_status){ %>
          <span class="label label-default">You Liked</span>
          <% } else { %>
          <a href="javascript:void(0);" data-id="<%= el._id %>" class="label label-success like_post">Like</a>
          <% } %>
        </div>
    </div>
    <% }); } %>


</div>

<%- include footer.ejs %>
