<%- include header.ejs %>

<style media="screen">
  .post_wrapper{
    background: #f8f8f8;
    margin: 30px 10px;
  }
  .comment_wrapper{
    background: #f5ebeb;
    margin: 30px 10px 0 10px;
    padding:20px;
  }
  .sub_comment_wrapper{
    background: #f3d5d5;
    margin: 5px 10px 5px 60px;
    padding:20px;
  }
</style>
<div class="container">
    <h1>Post Details</h1>

    <div class="row post_wrapper">
        <div class="col-md-12">
          <a href="javascript:void(0);"><h3><%= post_details.Title %></h3></a>
          <p><%= post_details.Description %></p>
          <span class="label label-info"><%= post_details.CommentsCount %> Comments</span>
          <span class="label label-info"><%= post_details.LikesCount %> Likes</span>
          <% if(post_details.MyLikeStatus){ %>
          <span class="label label-default">You Liked</span>
          <% } else { %>
          <a href="javascript:void(0);" data-id="<%= post_details.PostID %>" class="label label-success like_post">Like</a>
          <% } %>
          <a href="javascript:void(0);" class="label label-warning" data-toggle="modal" data-target="#commentModal">Post Comment</a>
        </div>
    </div>

    <h4>Comments:</h4>

    <% if(comments.length > 0){ comments.forEach(function(el, index) { %>
    <div class="row comment_wrapper">
      <div class="col-md-12">
        <p><%= el.Message %></p>
        <span class="label label-default"><%= el.UserName %></span>
        <span class="label label-info"><%= el.LikesCount %> Likes</span>
        <% if(el.MyLikeStatus){ %>
        <span class="label label-default">You Liked</span>
        <% } else { %>
        <a href="javascript:void(0);" data-id="<%= el.CommentID %>" class="label label-success like_comment">Like</a>
        <% } %>
        <a href="javascript:void(0);" class="label label-warning" data-toggle="modal" data-target="#commentModal">Reply Comment</a>
      </div>
    </div>

    <% if(el.SubComments.length > 0){ el.SubComments.forEach(function(sel, sindex) { %>
    <div class="row sub_comment_wrapper">
      <div class="col-md-12">
        <p><%= sel.Message %></p>
        <span class="label label-default"><%= sel.UserName %></span>
        <span class="label label-info"><%= sel.LikesCount %> Likes</span>
        <% if(sel.MyLikeStatus){ %>
        <span class="label label-default">You Liked</span>
        <% } else { %>
        <a href="javascript:void(0);" data-id="<%= sel.CommentID %>" class="label label-success like_comment">Like</a>
        <% } %>
      </div>
    </div>
    <% }); } %>


    <% }); } %>

</div>

<!-- Modal -->
<div id="commentModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <form action="/posts/post-comment" method="post">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Post Comment</h4>
        </div>
        <div class="modal-body">
          <input type="hidden" name="post_id" value="<%= post_details.PostID %>" />
          <input type="hidden" name="parent_id" value="" />
          <textarea name="message" rows="8" cols="80" class="form-control" required></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success post-comment">Submit</button>
        </div>
      </form>
    </div>

  </div>
</div>

<%- include footer.ejs %>
